* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    height: 100vh;
}

#game {
    width: 288px;
    height: 512px;
    background-image: url('./img/background.png');
    position: relative;
    overflow: hidden;
}

#bird {
    width: 34px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('./img/bird.png');
}

#ground {
    width: 200%;
    height: 112px;
    background-image: url('./img/base.png');
    position: absolute;
    bottom: 0;
}

#pipe {
    width: 52px;
    height: 100%;
    position: absolute;
    left: 100%;
}

#top-pipe {
    width: 100%;
    height: 150px;
    background-image: url('./img/bottom-pipe.png');
    transform: rotate(180deg);
    top: 0;
    position: absolute;
}

#bottom-pipe {
    width: 100%;
    background-image: url('./img/bottom-pipe.png');
    top: 270px;
    height: 1000px;
    position: absolute;
}

#game-screen {
    width: 184px;
    height: 267px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('./img/start.png');
}

#score {
    left: 50%;
    position: absolute;
    top: 40px;
    transform: translate(-50%, -50%);
    display: flex;
}

.scoreEl {
    width: 24px;
    /* width: 24px; */
    height: 36px;
    background-size: auto;
    background-repeat: no-repeat;
}

.animate {
    animation: slide 2s infinite linear;
}

@keyframes slide {
    0%{left: 100%}
    100%{left: -52px}
}